In [12]:
# importing packages
import matplotlib.pyplot as plt
import pandas as pd

# reading file
my_file = pd.read_table("gapminder.txt")

#part a
part_a = my_file.iloc[:,[2,4]]

#part b
part_b = my_file.loc[:,['country']]

In [6]:
who

my_file	 part_a	 part_b	 pd	 plt

In [7]:
part_a

      year       pop
0     1952   8425333
1     1957   9240934
2     1962  10267083
3     1967  11537966
4     1972  13079460
5     1977  14880372
6     1982  12881816
7     1987  13867957
8     1992  16317921
9     1997  22227415
10    2002  25268405
11    2007  31889923
12    1952   1282697
13    1957   1476505
14    1962   1728137
15    1967   1984060
16    1972   2263554
17    1977   2509048
18    1982   2780097
19    1987   3075321
20    1992   3326498
21    1997   3428038
22    2002   3508512
23    2007   3600523
24    1952   9279525
25    1957  10270856
26    1962  11000948
27    1967  12760499
28    1972  14760787
29    1977  17152804
...    ...       ...
1674  1982   9657618
1675  1987  11219340
1676  1992  13367997
1677  1997  15826497
1678  2002  18701257
1679  2007  22211743
1680  1952   2672000
1681  1957   3016000
1682  1962   3421000
1683  1967   3900000
1684  1972   4506497
1685  1977   5216550
1686  1982   6100407
1687  1987   7272406
1688  1992   8381163
1689  1997   9417789
1690  2002  10595811
1691  2007  11746035
1692  1952   3080907
1693  1957   3646340
1694  1962   4277736
1695  1967   4995432
1696  1972   5861135
1697  1977   6642107
1698  1982   7636524
1699  1987   9216418
1700  1992  10704340
1701  1997  11404948
1702  2002  11926563
1703  2007  12311143

[1704 rows x 2 columns]

In [13]:
part_b

          country
0     Afghanistan
1     Afghanistan
2     Afghanistan
3     Afghanistan
4     Afghanistan
5     Afghanistan
6     Afghanistan
7     Afghanistan
8     Afghanistan
9     Afghanistan
10    Afghanistan
11    Afghanistan
12        Albania
13        Albania
14        Albania
15        Albania
16        Albania
17        Albania
18        Albania
19        Albania
20        Albania
21        Albania
22        Albania
23        Albania
24        Algeria
25        Algeria
26        Algeria
27        Algeria
28        Algeria
29        Algeria
...           ...
1674    Yemen_Rep
1675    Yemen_Rep
1676    Yemen_Rep
1677    Yemen_Rep
1678    Yemen_Rep
1679    Yemen_Rep
1680       Zambia
1681       Zambia
1682       Zambia
1683       Zambia
1684       Zambia
1685       Zambia
1686       Zambia
1687       Zambia
1688       Zambia
1689       Zambia
1690       Zambia
1691       Zambia
1692     Zimbabwe
1693     Zimbabwe
1694     Zimbabwe
1695     Zimbabwe
1696     Zimbabwe
1697     Zimbabwe
1698     Zimbabwe
1699     Zimbabwe
1700     Zimbabwe
1701     Zimbabwe
1702     Zimbabwe
1703     Zimbabwe

[1704 rows x 1 columns]